{% extends 'base.html.twig' %}

{% block title %}Catégorie #{{ category }}{% endblock %}

{% block body %}
<h1>Toutes les séries de la catégorie : {{category }}</h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.id }} / {{ program.title }} / {{program.synopsis}} </h2>
            {# Lien vers la fiche de la série : #}
            <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </div>
  {% else %}
    <p>Aucune série trouvée</p>
  {% endfor %}

  <a href="{{path('app_index') }}">
    Retour à l'accueil
  </a>
{% endblock %}